<form [formGroup]="form" class='form'>
  <mat-form-field appearance="outline">
    <mat-label>title</mat-label>
    <input matInput formControlName="title" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>List of Options</mat-label>
    <app-custom-select [options]="options" valueName="val" keyName="id"
    formControlName="option" placeholder="list" (selectionChange)="onCustomSelectionChange($event)"></app-custom-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>List of Options</mat-label>
    <mat-select placeholder="list" (selectionChange)="onOptionSelectionChange($event)">
      <mat-option *ngFor="let option of options" [value]="option">
        {{ option.val}}
        </mat-option>
    </mat-select>
  </mat-form-field>
  <button type='button' mat-button (click)="submitForm()" color="primary" appearance='fill'>Click</button>
</form>
